/* Header search tags */
box.searchtag {
	background: alpha(@window_fg_color, 0.12);
	border-radius: 9999px;
	padding: 0 0 0 10px;
}

button.searchtag {
	min-height: 22px;
	min-width: 22px;
	margin: 0;
	padding: 0;
}

/* Sidebar disabled image */
row image:disabled {
	-gtk-icon-filter: opacity(0.5);
}

/* Sidebar list count indicator */
box.count-indicator {
	min-width: 20px;
	background: @accent_bg_color;
	border-radius: 9999px;
}

label.count-indicator {
	line-height: 20px;
	color: @accent_fg_color;
	margin: 0 6px;
	padding: 0;
}

/* Package view spinner */
spinner.dim-spinner {
	opacity: 0.5;
}

/* image.bubble {
	border-radius: 50%;
	background: alpha(@window_fg_color, 0.15);
	min-width: 32px;
	min-height: 32px;
}

image.bubble.large {
	min-width: 64px;
	min-height: 64px;
} */

/* box.rounded {
	border-radius: 9999px;
} */

/* entry.rounded {
	border-radius: 9999px;
	padding-right: 12px;
} */
