image.bubble {
	border-radius: 50%;
	background: alpha(@window_fg_color, 0.15);
	min-width: 32px;
	min-height: 32px;
}

image.bubble.large {
	min-width: 64px;
	min-height: 64px;
}

row image:disabled {
	filter: opacity(0.3);
}

spinner.dim-spinner {
	filter: opacity(0.5);
}

box.rounded {
	border-radius: 9999px;
}

box.searchtag {
	background: alpha(@window_fg_color, 0.12);
	border-radius: 9999px;
	padding: 0 0 0 10px;
}

button.searchtag {
	min-height: 22px;
	min-width: 22px;
	margin: 0;
	padding: 0;
}

label.count-indicator {
	background: @accent_bg_color;
	color: @accent_fg_color;
	border-radius: 9999px;
	padding: 3px 7px;
}

entry.rounded {
	border-radius: 9999px;
	padding-right: 12px;
}

button.rounded {
	border-radius: 9999px;
}
